*, *:before, *:after{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family:$fuente;
}

h1{
    color: black;
 font-size: 4rem;

}
h2{
    font-size: 3.5rem;
}

h3{
    
    font-size: 2.8rem;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}